# Compiled JavaScript files
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

package-lock.json
firebase.json

.firebaserc
firebase-debug.log
firestore-debug.log